<!doctype html>

<head>
  <title>Current Routine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  {{> navbar}}

  <div class="container">

    <h2 class="text-center">{{currentRoutineData.title}}</h2>
    <h4>Goals:</h4>
    <div class="goals-box rounded">
      {{#if currentRoutineData.goals}}
      <ul>
        <li>{{currentRoutineData.goals}}</li>
      </ul>
      {{else}}
      <ul>You did not set any goals.</ul>
      {{/if}}
    </div>

    <br />

    <h4>Alarm: {{currentRoutineData.alarm}}</h4>

    <br />
    <div class="routine circular-btns" style="flex-wrap: wrap">
    </div>

    <div id="#daysToComplete">{{currentRoutineData.daysToComplete}}</div>
    <div id="#startDate">{{currentRoutineData.createdAt}}</div>

    <div>Alarm: {{currentRoutineData.alarm}}</div>
    <div>Repeat Monday: {{currentRoutineData.repeatMonday}}</div>
    <div>Repeat Tuesday: {{currentRoutineData.repeatTuesday}}</div>
    <div>Repeat Wednesday: {{currentRoutineData.repeatWednesday}}</div>
    <div>Repeat Thursday: {{currentRoutineData.repeatThursday}}</div>
    <div>Repeat Friday: {{currentRoutineData.repeatFriday}}</div>
    <div>Repeat Saturday: {{currentRoutineData.repeatSaturday}}</div>
    <div>Repeat Sunday: {{currentRoutineData.repeatSunday}}</div>
    <div>Every other day: {{currentRoutineData.everyOtherDay}}</div>
    <div>Goal Reward: {{currentRoutineData.goalReward}}</div>
  </div>

  <script src="../js/calendar.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      const daysToComplete = parseInt(document.getElementById("#daysToComplete").innerHTML);
      const startDate = JSON.parse(document.getElementById("#startDate").innerHTML);
      const month = startDate.month;
      const date = startDate.date;
      const year = startDate.year;
      const workDays = getWorkDays(month, date, year, daysToComplete);
      console.log(workDays);
      workDays.forEach(function (workDay) {
        $(".circular-btns").append(`<button type="button" class="btn btn-light circular-btn">${workDay}</button>`)
      });
    })
  </script>
</body>

</html>