<!doctype html>

<head>
  <title>Current Routine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  {{> analytics}}
</head>

<body>
  {{> navbar back="/currentRoutines"}}

  <div class="container">
    <h2 class="text-center">{{currentRoutineData.title}}</h2>
    <h4><strong>Goals:</strong></h4>
    <div class="goals-box rounded">
      {{#if currentRoutineData.goals}}
      <ul>
        {{#each currentRoutineData.goals}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      {{else}}
      <ul>You did not set any goals.</ul>
      {{/if}}
    </div>

    <br />

    {{#if currentRoutineData.alarm}}
    <h4><i class="fas fa-bell" style="margin-right: 5px;"></i> <span id="alarmTime">{{currentRoutineData.alarm}}</span>
    </h4>
    {{/if}}

    {{#if currentRoutineData.everyOtherDay}}
    <h4 class="flex">
      <i class="fas fa-running" style="margin-right: 15px;"></i>
      <div>Every other day</div>
    </h4>
    {{else}}
    {{#if currentRoutineData.everyDay}}
    <h4 class="flex">
      <i class="fas fa-running" style="margin-right: 15px;"></i>
      <div>Everyday</div>
    </h4>
    {{else}}
    <h4 class="flex">
      <i class="fas fa-running" style="margin-right: 15px"></i>
      <div>
        {{#if currentRoutineData.repeatSunday}} Sun{{/if}}
        {{#if currentRoutineData.repeatMonday}} Mon{{/if}}
        {{#if currentRoutineData.repeatTuesday}} Tue{{/if}}
        {{#if currentRoutineData.repeatWednesday}} Wed{{/if}}
        {{#if currentRoutineData.repeatThursday}} Thu{{/if}}
        {{#if currentRoutineData.repeatFriday}} Fri{{/if}}
        {{#if currentRoutineData.repeatSaturday}} Sat{{/if}}
      </div>
      {{/if}}
    </h4>
    {{/if}}


    {{#if currentRoutineData.goalReward}}
    <h4 class="flex">
      <i class="fa fa-gift" style="margin-right: 10px"></i>
      <div>
        {{currentRoutineData.goalReward}}
      </div>
    </h4>
    {{/if}}

    <br />

    <div class="routine circular-btns" style="flex-wrap: wrap">
    </div>

    <button type="button" id="completeRoutineButton" class="btn btn-primary center-element" style="margin-bottom:1em;"
      data-toggle="modal" data-target="#completeRoutineModal" data-backdrop="static" data-keyboard="false">
      Mark Routine As Finished
    </button>

    <div class="modal fade question-modal" id="completeRoutineModal" tabindex="-1" role="dialog"
      aria-labelledby="completeRoutineModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="completeRoutineLabel">Complete Routine</h5>
          </div>
          <div class="modal-body">
            <div id="numberOfGoals" class="hidden">
              {{#if currentRoutineData.goals}}
              {{currentRoutineData.goals.length}}
              {{else}}
              0
              {{/if}}
            </div>

            {{#if currentRoutineData.goals}}
            <h5>Did you complete your goals?</h5>
            {{#each currentRoutineData.goals}}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="goal{{@index}}" id="goal{{@index}}">
              <label class="form-check-label" for="goal{{@index}}" id="goalLabel{{@index}}">
                {{this}}
              </label>
            </div>
            {{/each}}
            {{else}}
            <h5>You have finished the routine. Save routine to archives?</h5>
            {{/if}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
            <button type="button" id={{currentRoutineData.id}} class="btn btn-dark completeRoutine">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div id="completionChart" class="hidden">{{currentRoutineData.completionChart}}</div>
    <div id="daysToComplete" class="hidden">{{currentRoutineData.daysToComplete}}</div>
    <div id="startDate" class="hidden">{{currentRoutineData.createdAtString}}</div>
    <div id="goalReward" class="hidden">{{currentRoutineData.goalReward}}</div>

    <div id="everyOtherDay" class="hidden">{{currentRoutineData.everyOtherDay}}</div>
    <div id="repeatSunday" class="hidden">{{currentRoutineData.repeatSunday}}</div>
    <div id="repeatMonday" class="hidden">{{currentRoutineData.repeatMonday}}</div>
    <div id="repeatTuesday" class="hidden">{{currentRoutineData.repeatTuesday}}</div>
    <div id="repeatWednesday" class="hidden">{{currentRoutineData.repeatWednesday}}</div>
    <div id="repeatThursday" class="hidden">{{currentRoutineData.repeatThursday}}</div>
    <div id="repeatFriday" class="hidden">{{currentRoutineData.repeatFriday}}</div>
    <div id="repeatSaturday" class="hidden">{{currentRoutineData.repeatSaturday}}</div>
    <div id="routineId" class="hidden">{{currentRoutineData.id}}</div>
    <div id="sound"></div>

  </div>

  {{> facebook}}
  <script src="../js/facebook.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="../js/calendar.js"></script>

  <script>
    $(document).ready(function () {
      const routineId = document.getElementById("routineId").innerHTML;
      const daysToComplete = parseInt(document.getElementById("daysToComplete").innerHTML);
      const startDate = JSON.parse(document.getElementById("startDate").innerHTML);
      const goalReward = document.getElementById("goalReward").innerHTML;

      let everyOtherDay = document.getElementById("everyOtherDay").innerHTML === "on" ? true : false;
      let repeatSunday = document.getElementById("repeatSunday").innerHTML === "on" ? true : false;
      let repeatMonday = document.getElementById("repeatMonday").innerHTML === "on" ? true : false;
      let repeatTuesday = document.getElementById("repeatTuesday").innerHTML === "on" ? true : false;
      let repeatWednesday = document.getElementById("repeatWednesday").innerHTML === "on" ? true : false;
      let repeatThursday = document.getElementById("repeatThursday").innerHTML === "on" ? true : false;
      let repeatFriday = document.getElementById("repeatFriday").innerHTML === "on" ? true : false;
      let repeatSaturday = document.getElementById("repeatSaturday").innerHTML === "on" ? true : false;

      let completionArray = document.getElementById("completionChart").innerHTML;
      completionArray = completionArray.split(",");
      const day = startDate.day;
      const month = startDate.month;
      const date = startDate.date;
      const year = startDate.year;
      const workDays = getWorkDays(day, repeatSunday, repeatMonday, repeatTuesday, repeatWednesday,
        repeatThursday, repeatFriday, repeatSaturday, everyOtherDay, month, date, year, daysToComplete);

      const alarmTime = $("#alarmTime").html();
      if (alarmTime) {
        $("#alarmTime").html(militaryToStandard(alarmTime));
      }

      workDays.forEach(function (workDay, index) {
        if (completionArray[index] == 1) {
          $(".circular-btns").append(`
                                <form action="/routine/${routineId}" method="post" onsubmit="return confirm('Are you sure you want to log this day as incomplete?')">
                                  <input type="hidden" value=${index} name="index" />
                                  <input type="hidden" value="off" name="isComplete" />
                                  <input type="checkbox" class="check day${index} hidden" name="isComplete" checked="checked" />
                                  <input type="submit" class="btn btn-dark circular-btn submit day${index}" value='${workDay}'" />
                                </form>`);
        } else {
          $(".circular-btns").append(`
                                  <form action="/routine/${routineId}" method="post" onsubmit="return confirm('Are you sure you want to log this day as complete?')">
                                    <input type="hidden" value=${index} name="index" />
                                    <input type="checkbox" class="check day${index} hidden" name="isComplete" />
                                    <input type="submit" class="btn btn-light circular-btn submit day${index}" value='${workDay}'" />
                                  </form>`);
        }
      });

      function toggleChecked(dayNumber) {
        return function (event) {
          if ($(`input.check.day${dayNumber}`).is(':checked')) {
            $(`input.check.day${dayNumber}`).prop('checked', false);
          } else {
            $(`input.check.day${dayNumber}`).prop('checked', true);
          }
        }
      };

      for (var i = 0; i < completionArray.length; i++) {
        $(`input.submit.day${i}`).click(toggleChecked(i));
      };

      // Source for playSound: Timo from https://stackoverflow.com/questions/10105063/how-to-play-a-notification-sound-on-websites
      function playSound(filename) {
        var mp3Source = '<source src="' + filename + '.mp3" type="audio/mpeg">';
        var oggSource = '<source src="' + filename + '.ogg" type="audio/ogg">';
        var embedSource = '<embed hidden="true" autostart="true" loop="false" src="' + filename + '.mp3">';
        document.getElementById("sound").innerHTML = '<audio autoplay="autoplay">' + mp3Source + oggSource + embedSource + '</audio>';
      }

      $("button.completeRoutine").click(function () {
        const numberOfGoals = parseInt(document.getElementById("numberOfGoals").innerHTML);
        const goalReward = document.getElementById("goalReward").innerHTML;
        let completedAllGoals = true;
        let goalsArray = [];
        let completedGoalsCount = 0;
        for (let i = 0; i < numberOfGoals; i++) {
          const currGoalIsChecked = document.getElementById(`goal${i}`).checked;
          const currGoal = document.getElementById(`goalLabel${i}`).innerHTML.trim();
          let goalObject = { "goal": currGoal, "completed": 0 };
          if (!currGoalIsChecked) {
            completedAllGoals = false;
          } else {
            goalObject.completed = 1;
            completedGoalsCount++;
          }
          goalsArray.push(goalObject);
        }
        $.post(`/routine/complete/${this.id}`, { goalsArray, completedGoalsCount }).then(
          function () {
            if (numberOfGoals === 0) {
              if (goalReward) {
                $(".modal-body").eq(0).html(`<div class="text-success">Congratulations on completing the routine! Your reward: ${goalReward}</div>`);
              } else {
                $(".modal-body").eq(0).html(`<div class="text-success">Congratulations on completing the routine!</div>`);
              }
              playSound("../audio/fullComplete");
            } else if (completedAllGoals) {
              if (goalReward) {
                $(".modal-body").eq(0).html(`<div class="text-success">Congratulations on completing the routine and reaching your goals! Your reward: ${goalReward}</div>`);
              } else {
                $(".modal-body").eq(0).html(`<div class="text-success">Congratulations on completing the routine and reaching your goals!</div>`);
              }
              playSound("../audio/fullComplete");
            } else {
              $(".modal-body").eq(0).html(`<div class="text-primary">You completed the routine but did not reach all your goals. Try harder next time!</div>`);
              playSound("../audio/halfComplete");
            }
            $(".modal-footer").eq(0).html(`<a class="btn btn-dark" href="/currentRoutines">Back</a>`);
          });
      });

    }); 
  </script>

</body>

</html>