<!doctype html>

<head>
  <title>Current Routine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  {{> navbar back="/currentRoutines"}}

  <div class="container">

    <h2 class="text-center">{{currentRoutineData.title}}</h2>
    <h4>Goals:</h4>
    <div class="goals-box rounded">
      {{#if currentRoutineData.goals}}
      <ul>
        <li>{{currentRoutineData.goals}}</li>
      </ul>
      {{else}}
      <ul>You did not set any goals.</ul>
      {{/if}}
    </div>

    <br />

    <h4>Alarm: {{currentRoutineData.alarm}}</h4>

    <br />
    <div class="routine circular-btns" style="flex-wrap: wrap">
    </div>

    <button type="button" class="btn btn-primary center-element" style="margin-bottom:1em;" data-toggle="modal"
      data-target="#completeRoutineModal">
      Mark Complete
    </button>

    <div class="modal fade question-modal" id="completeRoutineModal" tabindex="-1" role="dialog"
      aria-labelledby="completeRoutineModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="completeRoutineLabel">Complete Routine</h5>
          </div>
          <div class="modal-body">
            <h5>Did you complete your goals?</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="completedGoals" id="completedGoals">
              <label class="form-check-label" for="completedGoals">
                {{currentRoutineData.goals}}
              </label>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
            <button type="button" id={{currentRoutineData.id}} class="btn btn-dark completeRoutine"
              data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div id="completionChart" class="hidden">{{currentRoutineData.completionChart}}</div>
    <div id="daysToComplete" class="hidden">{{currentRoutineData.daysToComplete}}</div>
    <div id="startDate" class="hidden">{{currentRoutineData.createdAt}}</div>
    <div id="goalReward" class="hidden">{{currentRoutineData.goalReward}}</div>

    <!--
    <div>Repeat Monday: {{currentRoutineData.repeatMonday}}</div>
    <div>Repeat Tuesday: {{currentRoutineData.repeatTuesday}}</div>
    <div>Repeat Wednesday: {{currentRoutineData.repeatWednesday}}</div>
    <div>Repeat Thursday: {{currentRoutineData.repeatThursday}}</div>
    <div>Repeat Friday: {{currentRoutineData.repeatFriday}}</div>
    <div>Repeat Saturday: {{currentRoutineData.repeatSaturday}}</div>
    <div>Repeat Sunday: {{currentRoutineData.repeatSunday}}</div>
    <div>Every other day: {{currentRoutineData.everyOtherDay}}</div>
    -->

    <div id="routineId" class="hidden">{{currentRoutineData.id}}</div>
  </div>

  <script src="../js/calendar.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      const routineId = document.getElementById("routineId").innerHTML;
      const daysToComplete = parseInt(document.getElementById("daysToComplete").innerHTML);
      const startDate = JSON.parse(document.getElementById("startDate").innerHTML);
      // const goalReward = document.getElementById("goalReward").innerHTML;
      // console.log("The goal reward", goalReward);
      // console.log("Start date", startDate);
      let completionArray = document.getElementById("completionChart").innerHTML;
      completionArray = completionArray.split(",");
      const month = startDate.month;
      const date = startDate.date;
      const year = startDate.year;
      const workDays = getWorkDays(month, date, year, daysToComplete);
      // console.log(workDays);
      // console.log(workDays.length);

      workDays.forEach(function (workDay, index) {
        if (completionArray[index] == 1) {
          $(".circular-btns").append(`
          <form action="/routine/${routineId}" method="post" onsubmit="return confirm('Are you sure you want to log this day as incomplete?')">
            <input type="hidden" value=${index} name="index" />
            <input type="hidden" value="off" name="isComplete" />
            <input type="checkbox" class="check day${index} hidden" name="isComplete" checked="checked" />
            <input type="submit" class="btn btn-dark circular-btn submit day${index}" value='${workDay}'" />
          </form>`);
        } else {
          $(".circular-btns").append(`
            <form action="/routine/${routineId}" method="post" onsubmit="return confirm('Are you sure you want to log this day as complete?')">
              <input type="hidden" value=${index} name="index" />
              <input type="checkbox" class="check day${index} hidden" name="isComplete" />
              <input type="submit" class="btn btn-light circular-btn submit day${index}" value='${workDay}'" />
            </form>`);
        }
      });

      function toggleChecked(dayNumber) {
        return function (event) {
          if ($(`input.check.day${dayNumber}`).is(':checked')) {
            $(`input.check.day${dayNumber}`).prop('checked', false);
          } else {
            $(`input.check.day${dayNumber}`).prop('checked', true);
          }
        }
      };

      for (var i = 0; i < completionArray.length; i++) {
        $(`input.submit.day${i}`).click(toggleChecked(i));
      };
    });

    $("button.completeRoutine").click(function () {
      $.post(`/routine/complete/${this.id}`).then(
        function () {
          alert("Congratulations on completing the routine!");
          window.location.href = "/currentRoutines";
        });
    });
  </script>
</body>

</html>