<!doctype html>

<head>
  <title>Edit Routine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  {{> analytics}}
</head>

<body>
  {{> navbar back="/currentRoutines"}}

  <!-- Form -->
  <div class="container">
    <form id="editForm" class="needs-validation" method="post" action="/routine/edit/{{currentRoutineData.id}}"
      novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <button type="button" class="question-btn" data-toggle="modal" data-target="#titleModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <span class="required">required</span>
        <input type="text" class="form-control" id="title" name="title" value="{{currentRoutineData.title}}" required>
        <div class="invalid-feedback">Please enter a title.</div>
      </div>
      <div class="form-group">
        <label for="daysToComplete">Days to Complete</label> <button type="button" class="question-btn"
          data-toggle="modal" data-target="#daysToCompleteModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <span class="required">required</span>
        <input type="number" class="form-control" id="daysToComplete" name="daysToComplete"
          value="{{currentRoutineData.daysToComplete}}" required>
        <div class="invalid-feedback">Please enter the number of days to complete the routine.</div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-dark large-btn" data-toggle="modal" data-target="#alarmModal">
          Set Alarm
        </button>

        <div id="alarmStatus">
          <small id="alarmHelp" class="form-text text-muted">Alarm has not been set.</small>
        </div>

        <!-- Set Alarm Modal -->
        <div class="modal fade" id="alarmModal" tabindex="-1" role="dialog" aria-labelledby="alarmModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="alarmModalLabel">Set Alarm</h5>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="center-text">
                    <input class="alarm" onfocus="(this.type='time')" id="alarm" name="alarm" placeholder="12:30 PM"
                      value="{{currentRoutineData.alarm}}" onchange="updateAlarmText()" />
                  </div>

                  <hr />
                  <div class="divider"><strong>Repeat</strong></div>
                  <div class="circular-btns">

                    <button type="button" class="btn circular-btn monday 
                       {{#if currentRoutineData.repeatMonday}}btn-dark{{else}}btn-light{{/if}}">Mo</button>
                    <button type="button" class="btn circular-btn tuesday 
                      {{#if currentRoutineData.repeatTuesday}}btn-dark{{else}}btn-light{{/if}}">Tu</button>
                    <button type="button" class="btn circular-btn wednesday
                      {{#if currentRoutineData.repeatWednesday}}btn-dark{{else}}btn-light{{/if}}">We</button>
                    <button type="button" class="btn circular-btn thursday
                     {{#if currentRoutineData.repeatThursday}}btn-dark{{else}}btn-light{{/if}}">Th</button>
                    <button type="button" class="btn circular-btn friday
                      {{#if currentRoutineData.repeatFriday}}btn-dark{{else}}btn-light{{/if}}">Fr</button>
                    <button type="button" class="btn circular-btn saturday
                       {{#if currentRoutineData.repeatSaturday}}btn-dark{{else}}btn-light{{/if}}">Sa</button>
                    <button type="button" class="btn circular-btn sunday
                       {{#if currentRoutineData.repeatSunday}}btn-dark{{else}}btn-light{{/if}}">Su</button>

                    <input type="checkbox" name="repeatMonday" class="monday hidden"
                      {{#if currentRoutineData.repeatMonday}}checked{{/if}}>
                    <input type="checkbox" name="repeatTuesday" class="tuesday hidden"
                      {{#if currentRoutineData.repeatTuesday}}checked{{/if}}>
                    <input type="checkbox" name="repeatWednesday" class="wednesday hidden"
                      {{#if currentRoutineData.repeatWednesday}}checked{{/if}}>
                    <input type="checkbox" name="repeatThursday" class="thursday hidden"
                      {{#if currentRoutineData.repeatThursday}}checked{{/if}}>
                    <input type="checkbox" name="repeatFriday" class="friday hidden"
                      {{#if currentRoutineData.repeatFriday}}checked{{/if}}>
                    <input type="checkbox" name="repeatSaturday" class="saturday hidden"
                      {{#if currentRoutineData.repeatSaturday}}checked{{/if}}>
                    <input type="checkbox" name="repeatSunday" class="sunday hidden"
                      {{#if currentRoutineData.repeatSunday}}checked{{/if}}>
                  </div>

                  <div class="form-check">
                    <input type="checkbox" name="everyOtherDay" class="form-check-input"
                      {{#if currentRoutineData.everyOtherDay}}checked{{/if}} />
                    <label class="form-check-label" for="otherDayCheck">Every other day</label>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="goals">Goals</label>
        <button type="button" class="question-btn" data-toggle="modal" data-target="#goalsModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <span class="optional">optional</span>
        <input type="text" class="form-control" id="goals" name="goals" value="{{currentRoutineData.goals}}">
      </div>
      <div class="form-group">
        <label for="goalReward">Goal Reward</label>
        <button type="button" class="question-btn" data-toggle="modal" data-target="#goalRewardModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <span class="optional">optional</span>
        <input type="text" class="form-control" id="goalReward" name="goalReward"
          value="{{currentRoutineData.goalReward}}">
      </div>

      <input class="hidden" type="text" name="id" value={{currentRoutineData.id}} readonly>
      <input class="hidden" type="text" name="createdAtString" id="createdAtString"
        value={{currentRoutineData.createdAtString}}>

      <div class="text-center">
        <input type="submit" class="btn btn-dark large-btn" value="Save">
        </input>
      </div>
    </form>
  </div>

  <!-- Title Modal -->
  {{> modal modalId="titleModal" modalTitle="Title" modalLabel="titleModalLabel" definition="The name for a
  routine."
  examples="Ex: go to gym, study math"}}

  <!-- Goals Modal -->
  {{> modal modalId="startDateModal" modalTitle="Start Date" modalLabel="goalsModalLabel"
  definition="The day you will begin your routine."}}

  <!-- Goals Modal -->
  {{> modal modalId="goalsModal" modalTitle="Goals" modalLabel="goalsModalLabel"
  definition="The objectives you want to achieve by the end of the routine. To create multiple goals, separate them with a comma."
  examples="Ex: lose 10 pounds, get A on exam"}}

  <!-- Goal Reward Modal -->
  {{> modal modalId="goalRewardModal" modalTitle="Goal Reward" modalLabel="goalRewardModalLabel"
  definition="What you will reward yourself with after finishing the routine. This provides an incentive for you to
  achieve your goals."
  examples="Ex: watch a movie, eat ice cream"}}

  <!-- Days to Complete Modal -->
  {{> modal modalId="daysToCompleteModal" modalTitle="Days to Complete" modalLabel="daysToCompleteModalLabel"
  definition="The number of work days to finish the routine. Does not include rest days."}}

  {{> facebook}}
  <script src="../js/facebook.js"></script>
  <script src="../js/calendar.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="../js/forms.js"></script>
  <script src="../js/repeatButtons.js"></script>
  <script>
    function updateAlarmText() {
      const alarmTime = $('#alarm').val();
      if (alarmTime === '') {
        $('#alarmStatus').html(`<small id="alarmHelp" class="form-text text-muted">Alarm has not been set.</small>`);
      } else {
        $('#alarmStatus').html(`<small id="alarmHelp" class="form-text text-success">Alarm has been set to ${militaryToStandard(alarmTime)}.</small>`);
      }
    }
    $(document).ready(function () {
      updateAlarmText();
    });
  </script>

</body>

</html>