<!doctype html>

<head>
  <title>Archived Routine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  {{> navbar back="/previousRoutines"}}

  <div class="container">

    <div class="text-center red">This routine has been archived. You can no longer edit it.</div>

    <h2 class="text-center">{{previousRoutineData.title}}</h2>
    <h4><strong>Goals:</strong></h4>
    <div class="goals-box rounded">
      {{#if previousRoutineData.goals}}
      <ul>
        {{#each previousRoutineData.goals}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      {{else}}
      <ul>You did not set any goals.</ul>
      {{/if}}
    </div>

    <br />

    {{#if previousRoutineData.alarm}}
    <h4><i class="fas fa-bell"></i> {{previousRoutineData.alarm}}</h4>
    {{/if}}

    {{#if previousRoutineData.everyOtherDay}}
    <h4 class="flex">
      <i class="fas fa-running" style="margin-right: 10px;"></i>
      <div>every other day</div>
    </h4>
    {{else}}
    {{#if previousRoutineData.everyDay}}
    <h4 class="flex">
      <i class="fas fa-running" style="margin-right: 10px;"></i>
      <div>everyday</div>
    </h4>
    {{else}}
    <h4 class="flex">
      <i class="fas fa-running" style="margin-right: 10px;"></i>
      <div>
        {{#if previousRoutineData.repeatSunday}} Sun{{/if}}
        {{#if previousRoutineData.repeatMonday}} Mon{{/if}}
        {{#if previousRoutineData.repeatTuesday}} Tue{{/if}}
        {{#if previousRoutineData.repeatWednesday}} Wed{{/if}}
        {{#if previousRoutineData.repeatThursday}} Thu{{/if}}
        {{#if previousRoutineData.repeatFriday}} Fri{{/if}}
        {{#if previousRoutineData.repeatSaturday}} Sat{{/if}}
      </div>
      {{/if}}
    </h4>
    {{/if}}

    <br />
    <div class="routine circular-btns" style="flex-wrap: wrap">
    </div>

    <div id="completionChart" class="hidden">{{previousRoutineData.completionChart}}</div>
    <div id="daysToComplete" class="hidden">{{previousRoutineData.daysToComplete}}</div>
    <div id="startDate" class="hidden">{{previousRoutineData.createdAt}}</div>
    <div id="goalReward" class="hidden">{{previousRoutineData.goalReward}}</div>

    <div id="everyOtherDay" class="hidden">{{previousRoutineData.everyOtherDay}}</div>
    <div id="repeatSunday" class="hidden">{{previousRoutineData.repeatSunday}}</div>
    <div id="repeatMonday" class="hidden">{{previousRoutineData.repeatMonday}}</div>
    <div id="repeatTuesday" class="hidden">{{previousRoutineData.repeatTuesday}}</div>
    <div id="repeatWednesday" class="hidden">{{previousRoutineData.repeatWednesday}}</div>
    <div id="repeatThursday" class="hidden">{{previousRoutineData.repeatThursday}}</div>
    <div id="repeatFriday" class="hidden">{{previousRoutineData.repeatFriday}}</div>
    <div id="repeatSaturday" class="hidden">{{previousRoutineData.repeatSaturday}}</div>
    <div id="routineId" class="hidden">{{previousRoutineData.id}}</div>

  </div>

  {{> facebook}}
  <script src="/js/facebook.js"></script>
  <script src="/js/calendar.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      const routineId = document.getElementById("routineId").innerHTML;
      const daysToComplete = parseInt(document.getElementById("daysToComplete").innerHTML);
      const startDate = JSON.parse(document.getElementById("startDate").innerHTML);
      const goalReward = document.getElementById("goalReward").innerHTML;
      let everyOtherDay = document.getElementById("everyOtherDay").innerHTML === "on" ? true : false;
      let repeatSunday = document.getElementById("repeatSunday").innerHTML === "on" ? true : false;
      let repeatMonday = document.getElementById("repeatMonday").innerHTML === "on" ? true : false;
      let repeatTuesday = document.getElementById("repeatTuesday").innerHTML === "on" ? true : false;
      let repeatWednesday = document.getElementById("repeatWednesday").innerHTML === "on" ? true : false;
      let repeatThursday = document.getElementById("repeatThursday").innerHTML === "on" ? true : false;
      let repeatFriday = document.getElementById("repeatFriday").innerHTML === "on" ? true : false;
      let repeatSaturday = document.getElementById("repeatSaturday").innerHTML === "on" ? true : false;

      let completionArray = document.getElementById("completionChart").innerHTML;
      completionArray = completionArray.split(",");
      const day = startDate.day;
      const month = startDate.month;
      const date = startDate.date;
      const year = startDate.year;
      const workDays = getWorkDays(day, repeatSunday, repeatMonday, repeatTuesday, repeatWednesday,
        repeatThursday, repeatFriday, repeatSaturday, everyOtherDay, month, date, year, daysToComplete);

      workDays.forEach(function (workDay, index) {
        if (completionArray[index] == 1) {
          $(".circular-btns").append(`
            <input type="button" class="btn btn-dark circular-btn submit day${index}" value='${workDay}'" />
          `);
        } else {
          $(".circular-btns").append(`
              <input type="button" class="btn btn-light circular-btn submit day${index}" value='${workDay}'" />
            `);
        }
      });
    });
  </script>
</body>

</html>