<!doctype html>

<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  {{> navbar}}

  {{#if userSignedIn}}
  {{else}}
  <div class="container">
    <div class="alert alert-primary center-text" role="alert">These are routine stats computed among
      anonymous users. To view your own private stats, click the topright icon to log in.
    </div>
  </div>
  {{/if}}

  <div class="container">
    <div class="card text-white bg-dark mb-3" style="width: 100%">
      <div id="picture" class="center-text" style="padding-top: 1em;">
        <i class="fas fa-user-circle fa-5x marquee-item"></i>
      </div>

      <div class="card-body profile-spacing">
        <h1>
          {{#if fullName}}
          <input id="name" type="text" name="name" value="{{fullName}}" class="profile-input">
          {{else}}
          <input id="name" type="text" name="name" value="Anonymous" class="profile-input">
          {{/if}}
        </h1>
        <div id="isInvalidName" style="margin-top: .25rem" class="text-danger hidden">Enter at least one
          character for your name.
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark profile-spacing">
          <h5 class="flex">
            <div style="margin-right:5px;">Email: </div>
            {{#if email}}
            <input id="email" type="text" name="email" value="{{email}}" class="profile-input">
            {{else}}
            <input id="email" type="text" name="email" value="anonymous@anon.com" class="profile-input">
            {{/if}}
          </h5>
          <div id="warningEmail" style="margin-top: .25rem" class="text-warning hidden">Changing your email
            will change the email you use to login.
          </div>
          <div id="isInvalidEmail" style="margin-top: .25rem" class="text-danger hidden">Email format is invalid.
            Try another one.
          </div>
        </li>
        <li class="list-group-item bg-dark profile-spacing">
          <h5 id="joinDate">Joined: </h5>
        </li>

        <li class="list-group-item bg-dark center-text">
          {{#if userSignedIn}}
          <form>
          </form>
          <button id="editProfile" type="button" class="btn btn-light">Edit Profile</button>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="card text-white bg-dark mb-3" style="width: 100%">
      <div class="card-header">
        <h1>Stats</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Current routines: {{numCurrRoutines}}</h5>
        <h5 class="card-title">Completed routines: {{numPrevRoutines}}</h5>

        <br />

        <h5 class="card-title">Days completed: {{totalDaysCompleted}}/{{totalDays}}</h5>
        <div class="progress" style="margin-bottom:1em;">
          <div id="totalDaysPercent" class="progress-bar bg-success" role="progressbar"
            aria-valuenow="{{totalDaysCompletedPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            {{totalDaysCompletedPercentage}}%
          </div>
        </div>

        <h5 class="card-title">Goals completed: {{prevGoalsCompleted}}/{{totalGoals}}</h5>
        <div class="progress" style="margin-bottom:1em;">
          <div id="totalGoalsPercent" class="progress-bar bg-success" role="progressbar"
            aria-valuenow="{{totalGoalsCompletedPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            {{totalGoalsCompletedPercentage}}%
          </div>
        </div>

        <br />

        <h5 class="card-title">Goals in progress: {{currGoalsTotal}}</h5>
        <h5 class="card-title">Goals achieved: {{prevGoalsCompleted}}</h5>
        <h5 class="card-title">Goals failed to achieve: {{prevGoalsFailed}}</h5>

        <div id="pieChartContainer" class="center-horizontal">
        </div>

      </div>
    </div>
  </div>

  <div id="goalsInProgress" class="hidden">{{currGoalsTotal}}</div>
  <div id="goalsAchieved" class="hidden">{{prevGoalsCompleted}}</div>
  <div id="goalsFailed" class="hidden">{{prevGoalsFailed}}</div>

</body>

{{> facebook}}
<script src="../js/facebook.js"></script>
<script src="../js/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script>
  const pictureURL = localStorage.getItem('picture');
  let name = localStorage.getItem('name');
  const email = localStorage.getItem('email');
  const totalDaysPercentage = $("#totalDaysPercent").attr('aria-valuenow');
  const totalGoalsPercentage = $("#totalGoalsPercent").attr('aria-valuenow');

  function isValidEmail(email) {
    const re = /\S+@\S+\.\S+/;
    return re.test(email);
  }

  $(document).ready(function () {
    if (pictureURL) {
      $('#picture').html(`<img src=${pictureURL}>`);
    }

    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    const joinDate = new Date().toLocaleDateString('en-us', options);
    $("#joinDate").html(`Joined: ${joinDate}`);

    if (totalDaysPercentage < 5) {
      $("#totalDaysPercent").html("");
    }
    if (totalGoalsPercentage < 5) {
      $("#totalGoalsPercent").html("");
    }
    $("#totalDaysPercent").attr("style", `width:${totalDaysPercentage}%`);
    $("#totalGoalsPercent").attr("style", `width:${totalGoalsPercentage}%`);
  });

  $('#editProfile').click(function () {
    const innerHTML = $("#editProfile").html();
    if (innerHTML === "Edit Profile") {
      $("#editProfile").html("Save Changes");
      $('#warningEmail').removeClass('hidden');
      $("#name").prop("disabled", false);
      $("#email").prop("disabled", false);
      $("#name").css("background-color", "black");
      $("#email").css("background-color", "black");
      $("#name").focus();
    } else {
      const updatedName = $("#name").val();
      const updatedEmail = $("#email").val();

      const validName = updatedName.length > 0;
      const validEmail = isValidEmail(updatedEmail);

      if (!validName) {
        $('#isInvalidName').removeClass('hidden');
      }
      if (!validEmail) {
        $('#isInvalidEmail').removeClass('hidden');
      }
      if (!validName || !validEmail) {
        return;
      }

      $('#warningEmail').addClass('hidden');
      $('#isInvalidEmail').addClass('hidden');
      $("#editProfile").html("Edit Profile");
      $("#name").prop("disabled", true);
      $("#email").prop("disabled", true);
      $("#name").css("background-color", "transparent");
      $("#email").css("background-color", "transparent");
      $.post(`/editUserInfo`, { name: updatedName, email: updatedEmail }).then(function (req, res) {
        const firstName = $("#name").val().trim().split(" ")[0];
        document.getElementById('welcome').innerHTML = `<strong>Welcome, ${firstName}</strong>`;
      });

    }
  });

  const goalsInProgress = parseInt($('#goalsInProgress').html());
  const goalsAchieved = parseInt($('#goalsAchieved').html());
  const goalsFailed = parseInt($('#goalsFailed').html());
  const goalsTotal = goalsInProgress + goalsAchieved + goalsFailed;

  if (goalsTotal !== 0) {
    $("#pieChartContainer").html(`<canvas id="pieChart" width="400" height="300"></canvas>`);
    new Chart(document.getElementById("pieChart"), {
      type: 'pie',
      data: {
        labels: ["In Progress", "Achieved", "Failed"],
        datasets: [{
          label: "Goal Count",
          backgroundColor: ["#ffeb10", "#00ff43", "#ff000f"],
          data: [goalsInProgress, goalsAchieved, goalsFailed]
        }]
      },
      options: {
        title: {
          display: true,
          fontColor: '#fff',
          text: 'Goals Data',
        },
        legend: {
          labels: {
            fontColor: '#fff'
          }
        },
        responsive: false
      },
    });
  } else {
    $("#pieChartContainer").html("");
  }

</script>

</html>